.flex {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  display: inline-block;
  min-width: 150px;
  
}

.select {
  width: 300px;
  margin-right: 5px;
  height: 27px;
}
.select:hover {
  background-color: yellow;
}

.span {
  color: red;
}

.textbox {
  width: 100%;
  display: flex;
  align-items: center;
}